# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SimCorpTask.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\yehor.hrabovskyi\RiderProjects\SimCorpTask\.idea\.idea.SimCorpTask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
